<div>
    <img class="burgerimg" src="hqdefault.jpg" />
</div>

<h1 class="headline">Eat-Da-Burger!</h1>

<section id="burgers">
    <div id="burgers-available">
        <h2>Burgers Available</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        <div class="burger">
            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class="btn btn-eat" type="submit">Eat Me!</button>
            </form>
            {{burger_name}} <span>#{{id}}</span>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div id="burgers-eaten">
        <h2>Devoured</h2>
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
        {{/if}}
        {{/each}}
    </div>
</section>

<div class="add-burger">
    <h2>Add A Burger</h2>

    <div class="row">
        <div class="col s12">
            <form action="/burgers" method="POST">
                <input type="text" id="name" name="burger_name" placeholder="Burger">
                <br>
                <button type="submit" class="add-burger-btn">Add The Burger</button>
            </form>
        </div>
    </div>
</div>